<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>To Do App</title>
  </head>
  <body>
    <h1>To Do App</h1>

    <form action="/add" method="post">
      <label>Todo Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        placeholder="Enter todo.."
      />
      <button type="submit">Add</button>
    </form>
    <hr />

    {% for todo in todo_list %}

    <p>{{todo.id }} | {{ todo.title }}</p>

    {% if todo.complete == False %}
    <span>Not Complete</span>
    {% else %}
    <span>Completed</span>
    {% endif %}

    <a href="/update/{{ todo.id }}">Update</a>
    <a href="/delete/{{ todo.id }}">Delete</a>

    {% endfor %}

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
