.daily-meal-plan {
    display:flex;
    flex-direction: row;
    padding: 0px;
    justify-content: center;
    margin-top: 20px;
}

.meal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.meal-card:last-child {
    margin-right: 0px;
}